*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Plain Light" ;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #030303;
}
body{
    overflow-x:hidden ;
}

#crsr{
    height: 2.5vw;
    width: 2.5vw;
    /* background-color: white; */
    border: 2px solid rgba(255, 255, 255, 0.534);
    position: fixed;
    border-radius: 50%;
    z-index: 9999;
    mix-blend-mode: difference;
    animation-timing-function: none;
    transform: translate(-50%,-50%);
   
}
#loader{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #030303;
    padding: 18vh 8vw;

}

#loader h1,#loader h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7vw;
}
#loader .line{
    /* background-color: red; */
    height: 8vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;

}
#line1-part1 h5,
#line1-part1 h6{
    font-size: 4vw;
    font-family: "silk serif";
    font-weight: 100;
    gap: 1.2vh;
   
}
#line1-part1 h5{
    width:7vw ;
    text-align: right;
}
.line h2{
    animation: fontchanger 1.2s  linear infinite alternate .2s  ;
    font-weight: 500;
}


@keyframes fontchanger {
    0%{
        font-family: 'Plain Light';
        -webkit-text-stroke: white 0px;
        color: white;
        opacity: 1;
        font-style: normal;

       
    }
    
    45%{
        font-family: 'Plain Light';
        -webkit-text-stroke: 0px;
        color: white;
        opacity: 0;
        font-style: normal;

       
    }
    55%{
        font-family: 'silk serif light italic';
        /* background-color: white; */
        color: transparent;
        font-style: italic;
        -webkit-text-stroke: white 1px;
        opacity: 0;

    }

    100%{
        font-family: 'silk serif italic light';
        /* background-color: white; */
        font-style: italic;
        color: transparent;
        -webkit-text-stroke: white 1px;
        opacity: 1;

    }
}



#main{
    position: relative;
}

#page1{
    height: 100vh;
    width: 100%;
    background: #151515;
}

#page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8vh 8vw;
    font-weight: 500;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}


#page1 .hero{
    /* background: red; */
    font-weight: bold;
    width: 70%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
}
#page1 .hero h1, #page1 .hero h2{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 7.4vw;
    letter-spacing: 0.8vh;
    /* margin-bottom: 1vw; */
}
#page1 .hero #move{
    width: fit-content;
    height: fit-content;
    display: flex;
    z-index: 999999;
    position: relative;
}

#first-line::before{
    content: "01";
    position: absolute;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;
    left: 18%;

}

.hero:nth-child(2){
    margin-top: 12vh;
}

.hero:nth-child(4) #move h1{
    border-bottom: white solid 0.65vw;
    transition: all ease .3s;
    font-weight: 400;
    font-family: "plain regular";

}


.hero:nth-child(4) #move:hover h1{
    -webkit-text-stroke: 1px white;
    color: transparent;
    border-bottom: transparent solid 0.65vw;
    
}

#page2{
    height: 100vh;
    width: 100vw;
    background-color: #151515;
    position: relative;
}
#page2 #video-container{
    height: 75vh;
    width: 72vw;
    position: relative;
    left: 27%;
    top: 15%;
}
#page2 #video-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}
#page2 #video-container #video-cursor{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #FFA63D;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 70%;
    top: -15%;
}
#page2 #video-container #video-cursor i{
    font-size: 2vw;
    color: white;
}
#page2 #video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: grey;
    position: relative;
}
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
    padding: 7vh 0;

}
#page4-content{
    width: 70%;
    margin-left: 27%;
    position: relative;

}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-content h1::before{
    content: "04";
    position: absolute;
    left: -13%;
    top: 10%;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;

}
#page4-content .underline{
    height: 1px;
    background-color: white;
    width: 100%;
    margin-bottom: 2.5vw;
}
#page4-content>p{
    font-size: 2.3vw;
    width: 60%;
    margin-bottom: 4vw;
}
#page4-flex{
    display: flex;
    position: relative;
    
}
#page4-flex>img{
    width:48%;
    margin-right: 3vw;
}

#page4-flex>p{
    font-size: 1vw;
    width: 25%;
}

#award-showcase{
    position: relative;
    height:100%;
    width: 48%;
    background-color: #3F7DF4;
    margin-top: -23%;
    margin-left: 33%;
    padding:  3vw;
    margin-bottom: 15vh;

}

#award-showcase .award-element{
    height:15vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 1vw 0;
}

.award-element h4{
    font-size: 1.4vw;
    font-weight: 500;
    width: 40%;
 
}
.award-element p{
    font-size: 1vw;
    width: 50%

}

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
}

.marque,.marque2{
    white-space: nowrap;
}

.marque h1,.marque2 h1,.marque span, .marque2 span{
    font-size: 7.5vw;
    display: inline-block;
    text-transform: uppercase;
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 400;
    line-height: 8vw;
    margin-right: 16px;
}
.marque h1 span,.marque2 h1 span{
    font-style: italic;
    font-family: "silk serif";
    
}
.marque h1{
    animation: marque 25s linear  infinite forwards ;
}

.marque2 h1{
    animation: marque 25s linear  infinite reverse ;
}
@keyframes marque {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#footer{
    height: 80vh;
    width: 100%;
    background:#151515 ;
    padding-left: 27vw;
}

#footer h1{
    font-size: 7.2vw;  
    text-transform: uppercase;
    margin-bottom: 8vh;
    position: relative;
}
#footer h1::before{
    content: "04";
    position: absolute;
    left: -13%;
    top: 10%;
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;

}
#footer .underline{
    height: 1.5px;
    width: 100%;
    background-color: white;
    margin: 8vh 0;

}

#footer #footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 12vw;
}

#footer-div .box{
    height: 50%;
    /* background: rebeccapurple; */
    width: 30%;
}

#footer-div .box h6{
    font-size: 1vw;
    font-weight: 6  00;
    margin-bottom: 2vh;
}

#footer-div .box h5,#footer-div .box h4{
    font-size: 1.6vw;
    font-weight: 500;
    line-height: 2.1vw;
}

#footer-div .box h5{
    background-color: black;
    height: 2vw;
    overflow: hidden;
    transition: all ease .3s;
    white-space: nowrap;
}

#footer-div .box h5:hover{
    transform: translateY(-10%);
    background-color: red;
}